* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* general selectors */

.flex {
    display: flex;
}

.flex-centered {
    justify-content: center;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.flex-aligned {
    align-items: center;
}

/* header selectors */

header {
    height: 80px;
    justify-content: space-between;
    /* da togliere */
    background-color: red;
}

header li,
header ul {
    display: inline-block;
    align-items: center;
}

/* big group < main > selectors */

/* top of page selectors */
.container-top-of-page {
    height: 680px;
    background-color: #b4d0e7;
}

/* title selctors */
input {
    width: 1rem;
    height: 1rem;
    margin-bottom: 3rem;
}

.container-title .thin-container h1 {
    margin: 10rem 3rem 4rem 0;
    font-size: 2.5rem;
    font-weight: 800;
}

.container-title .thin-container span {
    margin: 0 3rem 2rem 0.2rem;
    vertical-align: top;
    font-size: 1rem;
}

.thin-container {
    width: 52.5vw;
    justify-content: space-evenly;
}

/* sections selectors */
p.account-type{
    margin: 0.7rem 0 0.7rem 0;
    text-align: center;
    font-size: 1rem;
}

p.time-period {
    color: grey;
    font-size: 0.85rem;
    margin-bottom: 2rem;
}

li.flex .icon-span {
    margin-right: 0.5rem;
}

li.flex {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.vertical-section-description h2 {
    font-size: 0.8rem;
    font-weight: 600;
    margin: 1.25rem 0 1.25rem 0;
}

.vertical-section {
    border: 0.75px solid lightgray;
    width: calc(100% / 3 - 3rem);
}

.vertical-section-description {
    padding: 1.5rem;
}

.prova-gratis {
    width: 100%;
    color: white;
    background-color: #0061ff;
    padding: 0.75rem 1rem;
    align-self: center;
    border: none;
    margin: 2rem 0 1.75rem 0;
}

.vertical-section-description hr {
    width: 20%;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.horizontal-section-container {
    padding: 2rem;
}

.horizontal-section {
    border: 0.75px solid lightgray;
    margin-top: 1.5rem;
}

div.horizontal-section-element {
    width: 70%;
}

button.horizontal-section-element {
    width: 30%;
    margin: 1rem;
}

.horiontal-section-element {
    display: inline-block
}