* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* general selectors */

.flex {
    display: flex;
}

.flex-centered {
    justify-content: center;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.flex-aligned {
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-space-between {
    justify-content: space-between;
}

/* header selectors */

header {
    height: 60px;
    position: fixed;
    width: 100%;
    background-color: white;
}

header li,
header ul {
    display: inline-block;
    align-items: center;
}

header li {
    padding: 0 0.8rem;
    font-size: 0.8rem;
}

header li img {
    transform: scale(0.8);
}

header li button,
article button {
    border: none;
    background-color: #0061ff;
    padding: 0.35rem 0.7rem;
    color: white;
}

/* big group < main > selectors */

/* top of page selectors */
.wide-container h1 {
    font-size: 3.5rem;
    font-weight: 800;
    padding: 4rem 0 2rem 0;
}

.container-grey-background {
    height: 610px;
    background-color: #b4d0e7;
    padding-top: 60px;
}

.wide-container {

    width: 62.5%;
    height: 100%;
    margin: 0 auto;
}

.top-l-side {
    width: 35%;
}

.top-r-side {
    width: 65%;
}

.top-l-side * {
    margin-bottom: 1.5rem;
}

.top-r-side img {
    width: 100%;
}

.top-l-side button {
    border: none;
    background-color: #0061ff;
    padding: 0.6rem 0.8rem;
    color: white;
}

.down-arrow {
    font-size: 3rem;
}

.down-arrow a {
text-decoration: none;
color: black;
}

/* title selctors */
#offers h1 {
    font-size: 1.8rem;
    padding-top: 2rem;
}

input {
    width: 1rem;
    height: 1rem;
    margin-bottom: 3rem;
}

.container-title .thin-container h1 {
    margin: 5rem 3rem 4rem 0;
    font-weight: 800;
}

.container-title .thin-container span {
    margin: 0 3rem 2rem 0.2rem;
    vertical-align: top;
    font-size: 0.7rem;
}

.thin-container {
    width: 52.5vw;
}

/* sections selectors */
p.account-type{
    margin: 0.7rem 0 0.7rem 0;
    text-align: center;
    font-size: 1rem;
}

p.time-period {
    color: grey;
    font-size: 0.85rem;
    margin-bottom: 2rem;
}

section li.flex .icon-span {
    margin-right: 0.5rem;
}

section li.flex {
    font-size: 0.8rem;
    margin-bottom: 1rem;
}

.vertical-section-description h2 {
    font-size: 0.8rem;
    font-weight: 600;
    margin: 1.25rem 0 1.25rem 0;
}

.vertical-section {
    border: 0.75px solid lightgray;
    width: calc(100% / 3 - 2rem);
}

.vertical-section-description {
    padding: 1.5rem;
}

.prova-gratis {
    width: 100%;
    color: white;
    background-color: #0061ff;
    padding: 0.75rem 1rem;
    align-self: center;
    border: none;
    margin: 2rem 0 1.75rem 0;
}

.vertical-section-description hr {
    width: 20%;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.vertical-section-description ul {
    min-height: 150px;
}

.horizontal-section {
    border: 0.75px solid lightgray;
    margin-top: 1.5rem;
}

div.horizontal-section-element {
    width: 70%;
}

button.horizontal-section-element {
    width: 30%;
    margin: 1rem;
    align-self: start;
}

.horizontal-section-element *{
    padding: 0.5rem 0 0.5rem 2rem;
}

.horizontal-section-element h2{
    font-size: 1.2rem;
    font-weight: 800;
    padding-top: 1.5rem;
}

.horizontal-section-element h3{
    font-size: 0.8rem;
    margin-bottom: 1.5rem;
}

.horizontal-section-element p{
    font-size: 0.8rem;
    margin-bottom: 1rem;
}

/* find-a-partner selectors */
.col-60 {
    width: 60%;
}

.col-40 {
    height: 100%;
    width: 40%;
    padding: 0 0 0 2.5rem;
}

.col-40 * {
    margin-top: 2rem;
}

.col-40 h1 {
    font-size: 1.2rem;
    font-weight: 800;
}

.col-60 img {
    width: 100%;
}

.col-40 button {
    padding: 0.35rem 0.7rem;
    background-color: white;
    color: grey;
}

#contact-partners {
    height: 450px;
    width: 52.5vw;
    margin: 8rem 0;
}

/* operations selectors */
article.operations{
    width: calc(100% / 3 - 3rem);
    height: 400px;
    background-color: cyan;
    margin-top: 3rem;
}

/* partnerships selectors */
.big-square {
    width: calc(100vw / 3);
    height: calc( 100vw / 3);
    margin-top: 6rem;
}

.small-square {
    width: 50%;
    height: 50%;
}

.central-big-square {
    padding-left: 2rem;
    background-color: #f5f5f5;
}

#partnerships {
    margin-top: 6rem;
    padding-top: 3rem;
}


#title-squares {
    margin: 0 auto;
}

#title-squares h1 {
    margin-bottom: 3rem;
}

.big-square img {
    transform: scale(0.55) translate(-165px, 20px);
}

.big-square hr {
    width: 100px;
    background-color: #d0d0d3;
    margin: 1rem 0;
}

.big-square p {
    margin: 2rem 0;
}

/* tryout selectors */
#container-tryout h1 {
    color: #61082b;
    width: 50%;
}

#container-tryout button {
    border: none;
    width: 30%;
    padding: 0.5rem 0;
}

#business-tryout {
    margin:  auto;
    height: 280px;
    align-items: center;
}

#container-tryout {
    background-color: #b4d0e7;
}

#faq-container {
    margin: 60px auto 130px;
}

#faq-container .p-faq {
    margin: 2rem 0;
}

#faq-container h1 {
    margin: 7rem 0 4rem;
}

#faq-container .p-faq {
    font-weight: 800;
    font-size: 0.7rem;
}

/* footer selectors */
footer {
    background-color: #000000;
}

footer ul {
    width: calc( 100% / 5 - 3rem);
    display: inline-block;
    height: 100%;
    color: white;
    font-size: 0.8rem;
    justify-content: center;
}

footer li {
    list-style-type: none;
    margin: 0.75rem 0 0 0.5rem;
}

li h1 {
    font-size: 1.25rem;
}

#container-upper-footer {
    width: 62.5%;
    height: 300px;
    margin: 0 auto;
}

#container-lower-footer {
    background-color: #000000;
    width: 62.5%;
    height: 90px;
    margin: 0 auto;
    color: grey;
}

#container-lower-footer hr {
    margin: 4rem 0 2rem 0;
    width: 100px;
    background-color: lightgray;
}
